@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Denied - CramsRBIApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CramsRBIApp.styles.css" asp-append-version="true" />
    <!-- ================== BEGIN core-css ================== -->
    <link href="~/assets/css/vendor.min.css" rel="stylesheet">
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <!-- ================== END core-css ================== -->
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="app" class="app app-full-height app-without-header">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="card p-4 text-center">
                        <h1 class="text-danger">Access Denied</h1>
                        <p class="lead">
                            You do not have permission to view this resource.
                        </p>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Home</a>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CramsRBIApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- ================== BEGIN core-js ================== -->
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <!-- ================== END core-js ================== -->
</body>
</html>